body{
    background-color: #86a8cf;
}

.header{
    background-color: black ;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 20px;
}
.col-sm-12{
    background-color: #26425a;
}
#fila2{
    background-color: #26425a;
    height: 100%;
}
/*NavBar*/
#logo{
    margin-left: -17%;
    margin-top: -5%;
    width: 100%;
}
.botonesdecambiodepagina{
    background-color: #e0e0e0;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    font-weight: 700;
    width: 20%;
}
.botonesdecambiodepagina:hover{
    background-color: gray;
}
#search-box{
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 2px;
    width: 300px;
}
.btn-usuario{
    background-color: #e1cbd7;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid;
    width: 40%;
}
.btn-usuario:hover{
    background-color: lightcoral;
}
#fila2izquierda{
    margin-top: -15px;
}
#fila2medio{
margin-top: 20px;
    text-align: center;
}
#fila2derecha{
    margin-top: 10px;
    text-align: center;
}

#caja3{
    font-weight: bold;
    font-family:sans-serif;  
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 100.8%;
    margin: 0px auto;
    color: #000000; 
    background:#bdbdbd; 
    border-radius: 5px 5px 5px 5px;
    border:2px solid black; 
    margin-top: -15%;
    margin-left: -0.5%;
}

#logo2{
    width: 35%;
    margin-left: -45%;
}

#registro{
    margin-left: 10%;
    display: inline-block;
}

#caja4{
    font-family:sans-serif;  
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin: 0px auto;
    color: #000000; 
    background:#08468c; 
    border-radius: 5px 5px 5px 5px;
    border:2px solid black; 
    margin-top: 10%;
}

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
#contenedor > div {
    width: 50%;
}

p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.texto{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color:#ffffff ;
    margin-left: -24%;
}

.datos2{
    border: 1px solid;
    margin-bottom: 2px;
    width: 290px;
    padding: 1%;
    margin-left: -5%;
}

.texto2{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color:#ffffff ;
    margin-left: -43%;
}